.modal-open{overflow:hidden}
.modal{display:none;overflow:auto;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}
.modal.fade .modal-dialog{
	-webkit-transform:translate(0,-25%);
	-ms-transform:translate(0,-25%);
	transform:translate(0,-25%);
	-webkit-transition:-webkit-transform .3s ease-out;
	-moz-transition:-moz-transform .3s ease-out;
	-o-transition:-o-transform .3s ease-out;
	transition:transform .3s ease-out;
}
.tambah .modal-dialog{top:3%;}
.rekam .modal-dialog{top:25%; width:80%}

.medium .modal-dialog{top:15%;width:60%;}
.medium .modal-body{text-align:left;}

.medium1 .modal-dialog{top:5%;width:40%;}
.medium1 .modal-body{text-align:left;}

.small .modal-dialog{top:3%;width:35%;}
.small .modal-body, .small .modal-footer{text-align:center;}

.small1 .modal-dialog{top:3%;width:20%;}
.small1 .modal-body{text-align:left;}

.small2 .modal-dialog{top:3%;width:25%;}
.small2 .modal-body{text-align:left;}

.small3 .modal-dialog{top:3%;width:35%;}
.small3 .modal-body {text-align:left;}

.small4 .modal-dialog{top:3%;width:35%;}
.small4 .modal-body {text-align:left;}

.small5 .modal-dialog{top:3%;width:50%;}
.small5 .modal-body {text-align:left;}


.modal.fade{
	width:100%;
	background-color:rgba(0,0,0,.2);
}

.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.modal-dialog{position:relative;width:auto;margin:auto;}
.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0l; text-align:left;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}
.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}

.modal-header{padding:15px;border-bottom:1px solid #00a99d;min-height:16.428571429px;color:#FFF;background-color:#00a99d}
.modal-header .close{margin-top:-2px;}
.modal-title{margin:0;line-height:1.428571429}
.modal-body{position:relative;padding:20px}
.modal-footer{margin-top:5px;padding:10px 10px;text-align:right;border-top:1px solid #e5e5e5}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}
.modal-footer .btn-group .btn+.btn{margin-left:-1px}
.modal-footer .btn-block+.btn-block{margin-left:0}

@media (min-width:768px){
	.modal.fade{width:100%;}
	.modal-dialog{width:900px;margin:auto;}
	.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}
	.modal-sm{width:300px}.modal-lg{width:900px}
}


.btn-primary{
	color:#fff;
	background-color:#00a99d;
	padding:5px 10px;
	text-decoration:none;
	text-align:center;
	font-size:85%;
	font-weight:bold;
	border:1px solid #00a99d;
	cursor:pointer;
	min-width:100px;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#fff;background-color:#01c9bb;}
.btn-primary:active,.btn-primary.active{background-image:none}


.alert-dismissable .close{position:relative;top:-2px;right:-21px;color:inherit}

.close{
	float:right;
	font-size:21px;
	font-weight:700;
	line-height:1;
	color:#FFF;
	text-shadow:0 1px 0 #fff;
	opacity:.5;
	filter:alpha(opacity=50)
}
.close:hover,.close:focus{
	color:#FFF;text-decoration:none;
	cursor:pointer;
	opacity:1;
	filter:alpha(opacity=100)
}
button.close{
	padding:0;
	cursor:pointer;
	background:0 0;
	border:0;
	-webkit-appearance:none
}
.gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01c9bb+0,dae0ef+100 */
	background: #01c9bb; /* Old browsers */
	background: -moz-linear-gradient(left, #01c9bb 0%, #dae0ef 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #01c9bb 0%,#dae0ef 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #01c9bb 0%,#dae0ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01c9bb', endColorstr='#dae0ef',GradientType=1 ); /* IE6-9 */
}



.nav-tabs{border-bottom:1px solid #00a99d;display:inline-block;width:100%;padding:2px 0;margin-bottom:10px;}
.nav-tabs>li{float:left;margin-bottom:-1px}
.nav-tabs>li>a{margin-right:2px;line-height:1.42857143;color:#000;text-decoration:none;padding:2px 5px 2px 5px;}
.nav-tabs>li>a:hover{}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{color:#FFF;cursor:default;background-color:#00a99d;border-bottom:1px solid #00a99d;}


.tab-content>.tab-pane{display:none}.tab-content>.active{display:block}.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}